.img{
    background-image: url(bg.jpg);
    height: 250vh;
    background-size: cover;  
    margin: 20px;
} 
 
h1{
    color: white;
    background-color: black;

}
.h2{
    background-color:white ;
    display: flex;
    
}
h5{
    margin: 25px;
}

.button{
    color:white;
    background-color: black; 
    border-color: black; 
    margin: 10px;
    border-radius: 20px;
    height:40px ;
    width: 130px;
    font-size: 20px;
    
   
}
.i{
   border-radius: 10px;

}
.if{
   width: 1244px;
   height: 304px;
  margin: 25px;  
  border-color: black; 
}
.p{
    background-color: black;
    color: white;
    margin-right:350px;
    margin-left:350px;
    text-align: center;
    font-family: "Roboto";
    border-radius: 20px;
    padding: 10px;
   


}
.booking{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

.movies{
  
   
    
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.moviename{
    display: flex;
    flex-direction: row;

}
h5{
    margin-right: 25px;
    margin: 40px;
}


.m{
    height: 250px;
    width: 215px ;   
    margin: 20x;
    margin-left: 5px;
}
